
{% extends "base.html" %}
{% load static %}
{% block headblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
{% endblock %}

{% block fullscreen %}
<h1 class='head_mansi'>JUICES POINTS</h1>
<div align="center"><img src="https://media.istockphoto.com/photos/orange-juice-splash-picture-id537837754?k=6&m=537837754&s=612x612&w=0&h=nf7kCDiyPuzD2JWm38nYqRUNPUCTwION1jKLNOs2w50=">
</div>



{% for x in result %}
<a class='link' href="{% url 'foody_1:result' %}">{{ x }}</a></li>

{% endfor %}
<style media="screen">
.link{
  text-align: center;
    display: block;
  font-size: 30px;
font-family: 'Poor Story', cursive;
}
.under_tag{
  color:black;
  font-size: 25px;
  font-family: 'Poor Story', cursive;
}
.head_mansi{

  color:black;
  font-size: 200px;
  text-align: center;
  font-family: 'Poor Story', cursive;

}

</style>
{% endblock %}
